
code,
kbd,
samp,
var {
    font-family: $font-family-code;
}

code {
    background  : lighten( $color-body, 75 );
    border      : 1px solid lighten( $color-body, 65 );
    color       : $color-error;
    padding     : 2px 5px;

    pre & {
        background  : none;
        border      : none;
        color       : lighten( $color-body, 15 );
        padding     : 0;
    }
}

kbd {
    background      : $color-body;
    color           : #fff;
    border-radius   : 3px;
    padding         : 0 4px;
}

pre {
    background      : lighten( $color-body, 75 );
    border          : 1px solid lighten( $color-body, 65 );
    border-radius   : 3px;
    box-shadow      : 0 0 3px lighten( $color-body, 65 ) inset;
    color           : lighten( $color-body, 15 );
    margin          : 0 0 15px;
    padding         : 8px 10px;
    white-space     : normal;

    @include media( mobile-landscape ) {
        white-space: pre;
    }
}

samp {
    text-decoration-style: wavy;
}

var {
    font-style : normal;
}
