

figure {
    display     : inline-block;
    margin      : 0 0 15px;
    position    : relative;
    width       : 100%;

    @include media( mobile-portrait ) {
        width : auto;
    }

    img {
        height  : auto;
        width   : 100%;

        @include media( mobile-portrait ) {
            width : auto;
        }
    }
}

figcaption {
    background  : rgba( 0, 0, 0, 0.8 );
    bottom      : 0;
    color       : lighten( $color-body, 75 );
    padding     : 3px 5px 5px;
    position    : absolute;
    width       : 100%;
}

img {
    border: 1px solid lighten( $color-body, 65 );
    margin: 0 0 15px;

    figure & {
        float : left;
        margin: 0;
    }
}

.img {
    height  : auto;
    width   : 100%;

    @include media( mobile-portrait ) {
        width : auto;
    }

    .csstransitions & {
        @include    transition-duration( 0.25s );
        @include    transition-property( width );
        @include    transition-timing( $transition-function );
    }
}

.img--left {

    @include media( mobile-portrait ) {
        float   : left;
        margin  : 5px 15px 15px 0;
    }
}

.img--right {

    @include media( mobile-portrait ) {
        float   : right;
        margin  : 5px 0 15px 15px;
    }
}
